{% if nutaq_type == 'loops' %}
{% extends "direct_code.j2" %}
{% elif nutaq_type == 'diags' %}
{% extends "direct_code_diags.j2" %}
{% endif %}
{% block attrs_definition %}
{% for attribute in attributes %}
    {{attribute.name}} = attribute(label='{{attribute.name}}',
                                   dtype={{attribute.dtype}},
                                   display_level=DispLevel.OPERATOR,
                                   {% if attribute.access == 'read_write' %}
                                   access=AttrWriteType.READ_WRITE,
                                   memorized=True,
                                   {% elif attribute.access == 'read' %}
                                   access=AttrWriteType.READ,
                                   {% endif %}
                                   {% if attribute.type == 'mv' %}
                                   unit='mV',
                                   {% elif attribute.type == 'dmv' %}
                                   unit='mV',
                                   {% elif attribute.type == 'angle' %}
                                   unit='degrees',
                                   {% else %}
                                   unit='',
                                   {% endif %}
                                   format='%6.2f',
                                   {% if attribute.dtype != 'bool' %}
                                   min_value={{attribute.min_value}}, max_value={{attribute.max_value}},
                                   rel_change='0.1',
                                   {% else %}
                                   #polling_period=1000,
                                   {% endif %}
                                   polling_period=1000,
                                   fget="get_{{attribute.name}}",
                                   fset="set_{{attribute.name}}",
                                   doc=""
                                   )

{% endfor %}
{% endblock %}
{% block diag_attrs_definition %}
{% for attr in diags_attributes %}
    Diag_{{attr.name}} = attribute(label='Diag_{{attr.name}}',
                                   {% if attr.type != 'bool' %}
                                   dtype={{attr.dtype}},
                                   rel_change='0.1',
                                   {% elif attr.type == 'bool' %}
                                   dtype={{attr.type}},
                                   polling_period=1000,
                                   {% endif %}
                                   display_level=DispLevel.OPERATOR,
                                   access=AttrWriteType.READ,
                                   {% if attr.type == 'mv' %}
                                   unit='mV',
                                   {% elif attr.type == 'angle' %}
                                   unit='degrees',
                                   {% else %}
                                   unit='',
                                   {% endif %}
                                   format='%6.2f',
                                   doc=""
                                   )

{% endfor %}
{% endblock %}
