{% block defines %}{% endblock %}
    {% block attrs_definition %}{% endblock %}
    {% block diag_attrs_definition %}{% endblock %}

    {% block static_methods %}{% endblock %}

    {% block methods %}{% endblock %}
    {% block diag_methods %}{% endblock %}

{% block end_code %}{% endblock %}