{% extends "attributes.j2" %}
{% block methods %}
{% for attribute in attributes %}
{% if attribute.type == "mv" %}
    @DebugIt()
    def get_{{attribute.name}}(self):
        return perseus_utils.read_milivolts(self.perseus, {{attribute.address}})

    {% if attribute.access == "read_write" %}
    @DebugIt()
    def set_{{attribute.name}}(self, {{attribute.name}}):
        perseus_utils.write_milivolts(self.perseus, {{attribute.name}}, {{attribute.address}})
    {% endif %}

{% elif attribute.type == "angle" %}
    @DebugIt()
    def get_{{attribute.name}}(self):
        return perseus_utils.read_angle(self.perseus, {{attribute.address}})

    {% if attribute.access == "read_write" %}
    @DebugIt()
    def set_{{attribute.name}}(self, {{attribute.name}}):
        perseus_utils.write_angle(self.perseus, {{attribute.name}}, {{attribute.address}})
    {% endif %}

{% elif attribute.type == "direct" %}
    @DebugIt()
    def get_{{attribute.name}}(self):
        return perseus_utils.read_direct(self.perseus, {{attribute.address}})

    {% if attribute.access == "read_write" %}
    @DebugIt()
    def set_{{attribute.name}}(self, {{attribute.name}}):
        perseus_utils.write_direct(self.perseus, {{attribute.name}}, {{attribute.address}})
    {% endif %}

{% else %}
    @DebugIt()
    def get_{{attribute.name}}(self):
        address = {{attribute.address}}
        #@todo: add this method to special methods library ...
        extra_func.get_{{attribute.name}}(self.perseus, address)

    {% if attribute.access == "read_write" %}
    @DebugIt()
    def set_{{attribute.name}}(self, {{attribute.name}}):
        address = {{attribute.address}}
        #@todo: add this method to special methods library ...
        extra_func.get_{{attribute.name}}(self.perseus, {{attribute.name}}, address)
    {% endif %}

{% endif %}
{% endfor %}
{% endblock %}

{% block diag_methods %}
{% for attribute in diags_attributes %}
    @DebugIt()
    def read_Diag_{{attribute.name}}(self):
        return self._Diag_{{attribute.name}}

{% endfor %}
    @command
    def read_diagnostics(self):
        perseus_utils.start_reading_diagnostics(self.perseus)

{% for attribute in diags_attributes %}
        {% if attribute.type == 'mv' %}
        self._Diag_{{attribute.name}} = perseus_utils.read_diag_milivolts(self.perseus, {{attribute.address}})
        {% elif attribute.type == 'angle' %}
        self._Diag_{{attribute.name}} = perseus_utils.read_diag_angle(self.perseus, {{attribute.address}})
        {% elif attribute.type == 'bool' %}
        self._Diag_{{attribute.name}} = perseus_utils.read_direct(self.perseus, {{attribute.address}})
        {% endif %}
{% endfor %}
{% endblock %}
