{% extends "gui.j2" %}
{% block settingspanel %}
{% for widget in widgets_loops %}
{{widget}} = PanelDescription('{{widget}}',
                        classname = 'TaurusForm',
                        model = [
                        {% for attribute in widgets_loops[widget] %}
                                 'ws/rf/pynutaq-1/{{attribute.name}}',
                        {% endfor %}
                        ])
{% endfor %}
{% endblock %}
{% block diagspanel %}
{% for widget in widgets_diags %}
{{widget}} = PanelDescription('{{widget}}',
                        classname = 'TaurusForm',
                        model = [
                        {% for attr in widgets_diags[widget] %}
                                 'ws/rf/pynutaq-1/Diag_{{attr.name}}',
                        {% endfor %}
                        ])

{% endfor %}
{% endblock %}
